.about-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  @media (max-width: $max-width-tablet-landscape) {
    display: flex;
    flex-direction: column;
  }

  .container.hero-image {
    grid-area: 1 / 1 / span 1 / span 5;
    margin: 0;

    @media (max-width: $max-width-tablet-landscape) {
      margin: inherit;
    }
  }

  .container.section-header {
    grid-area: 1 / 2 / span 1 / span 5;
    z-index: 1;
    justify-self: end;
    align-self: center;
    margin: 0;

    .section-header {
      margin: 0;
    }
  }
}

.about-container {
  max-width: 800px;
}
