$about-block: 672px;
$about-gutter: 128px;

.about-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: $max-width-tablet-landscape) {
    display: flex;
    flex-direction: column;
  }

  .container.hero-image {
    grid-area: 1 / 1 / span 1 / span 5;
    width: 100%;
    margin: 0;

    @media (max-width: $max-width-tablet-landscape) {
      margin: inherit;
    }
  }

  .container.section-header {
    grid-area: 1 / 2 / span 1 / span 5;
    z-index: 1;
    justify-self: end;
    align-self: center;
    margin: 0;

    .section-header {
      margin: 0;
    }
  }
}

.about-container {
  .slice-wrapper {
    max-width: 800px;
    margin: 0 auto 64px auto;

    &:nth-of-type(1) {
      .slice-text {
        margin-left: $about-gutter;

        @media (max-width: $max-width-mobile-landscape) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &:nth-of-type(2) {
      .slice-text {
        max-width: $about-block;
        margin-right: auto;
      }
    }

    &:nth-of-type(3) {
      max-width: 100%;
      background-color: $grey-light-40;

      @media (max-width: $max-width-tablet-landscape) {
        max-width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px;
      }

      .slice-text {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        div {
          max-width: $about-block;
          margin-left: auto;
          padding-top: 64px;
          padding-bottom: 64px;

          p:last-of-type {
            margin: 0;
          }

          @media (max-width: $max-width-mobile-landscape) {
            padding-top: 16px;
            padding-bottom: 16px;
          }
        }
      }
    }

    &:nth-of-type(4) {
      .slice-text {
        text-align: center;

        @media (max-width: $max-width-mobile-landscape) {
          text-align: left;
        }
      }
    }

    &:nth-of-type(5) {
      .slice-text {
        max-width: $about-block;
        margin-right: auto;
      }
    }

    &:nth-of-type(6) {
      .slice-text {
        max-width: $about-block;
        margin-left: auto;
      }
    }

    &:nth-of-type(7) {
      .slice-text {
        max-width: $about-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &:nth-of-type(8) {
      .slice-text {
        text-align: center;

        @media (max-width: $max-width-mobile-landscape) {
          text-align: left;
        }
      }
    }
  }
}
