// Break points
$max-width-mobile-portrait: 320px;
$max-width-mobile-landscape: 568px;
$max-width-tablet-portrait: 768px;
$max-width-tablet-landscape: 992px;

$min-width-emph: 1120px;

$max-width-container: 1120px;
