* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #A4B5D0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #A4B5D0; /* Gecko Browsers */
}

body {
  padding: 0;
  color: #222222;
  line-height: 1.5;
  font-family: $font-sans-serif;
  font-size: 16px;

  @media (max-width: $max-width-sm) {
    padding: 0 16px;
  }
}

.container {
  max-width: 700px;
  margin: auto;

  @media (max-width: $max-width-sm) {
    padding: 0 16px;
  }
}
