// white

$white: #ffffff;

// black

$black: #000000;

// grey

$grey-dark-40: #222222;
$grey-dark-20: #545454;
$grey: #878787;
$grey-light-20: #bababa;
$grey-light-40: #ededed;

// honey

$honey: #dcae1d;
$honey-light-20: #edcf73;
$honey-light-40: #f8eecd;

// olive

$olive: #626e60;
$olive-light-20: #94a092;
$olive-light-40: #cacfc9;

// navy

$navy: #394e6f;
$navy-light-20: #617eae;
$navy-light-40: #a4b5d0;

// violet

$violet: #442c45;
$violet-light-20: #815483;
$violet-light-40: #b289b3;
