$padding: 16px;

.section {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;

  /* Fallback */
  padding: 0 $padding;

  /* iOS 11 */
  padding-left: calc(max(#{$padding}, constant(safe-area-inset-left)));
  padding-right: calc(max(#{$padding}, constant(safe-area-inset-right)));

  /* iOS 11.2+ */
  padding-left: calc(max(#{$padding}, env(safe-area-inset-left)));
  padding-right: calc(max(#{$padding}, env(safe-area-inset-right)));
}

.container {
  max-width: $max-width-container;
  margin: 0 auto 128px auto;
}
