.section-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 121.5px;
  line-height: 148px;
  text-align: center;
  margin: 0 auto 64px auto;

  @media (max-width: $max-width-tablet-landscape) {
    font-size: 54px;
    line-height: 66px;
    margin: 0 auto 32px auto;
  }

  @media (max-width: $max-width-mobile-landscape) {
    font-size: 36px;
    line-height: 44px;
  }
}
