footer {
  background-color: $black;
  color: $grey-light-40;
  font-family: $font-sans-serif;
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 128px;
    margin: 0 auto;
  }

  .footer-logo {
    height: 64px;
    width: 64px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .social-links {
    font-size: 24px;
    margin-right: -16px;
    padding: 16px 0 16px 0;

    & a {
      padding: 16px;
    }
    & svg {
      width: 24px;
      height: 24px;
      color: $grey-light-40;
    }
  }

  .copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
  }
}
