footer {
  background-color: $grey-dark-40;
  color: $grey-light-40;
  font-family: $font-sans-serif;
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;

  p {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }

  .footer-logo {
    width: 30px;
    margin-top: 10px;
  }
}
