footer {
  background-color: $black;
  color: $grey-light-40;
  font-family: $font-sans-serif;
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;

  p {
    padding: 2rem 0;
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    max-width: $max-width-container;
    margin: auto;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    min-height: 256px;
  }

  .footer-logo {
    height: 64px;
    width: 64px;
  }

  .copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10.67px;
    line-height: 13px;
  }
}
