header {
  display: block;
}

.header-container {
  display: flex;
  flex-direction: row;
  max-width: $max-width-container;
  margin: auto;
  padding: 0 16px;

  @media (max-width: $max-width-tablet-landscape) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.logo-container {
  height: 64px;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  @media (max-width: $max-width-tablet-landscape) {
    flex-direction: column;
    margin-top: 32px;
    order: 2;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 200ms ease-in-out, padding-bottom 200ms ease-in-out;
    &.open {
      height: 312px;
      padding-bottom: 64px;
    }
  }
}

.navigation-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: fit-content;
  margin: 0 0 0 32px;
  padding: 30px 0 0 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 200ms ease-in-out;
  color: $grey-dark-40;
  &:hover {
    border-bottom: 2px solid $grey-dark-40;
  }
  &[aria-current='page'] {
    border-bottom: 2px solid $grey-dark-40;
  }

  @media (max-width: $max-width-tablet-landscape) {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    &:hover {
      border-bottom: 2px solid $grey-dark-40;
    }
    &[aria-current='page'] {
      border-bottom: 2px solid $grey-dark-40;
    }
  }
}

.navigation-menu-toggle {
  display: none;
  height: 64px;
  & .toggle-line {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: $grey-dark-40;
    transition: transform 100ms ease-in-out 0ms, top 100ms ease-in-out 100ms;
    &.top {
      top: 33px;
      &.open {
        top: 40px;
        transform: rotate(45deg);
      }
    }
    &.bottom {
      top: 45px;
      &.open {
        top: 38px;
        transform: rotate(-45deg);
      }
    }
    &.open {
      transition: top 100ms ease-in-out 0ms, transform 100ms ease-in-out 100ms;
    }
  }
  &:hover {
    cursor: pointer;
  }

  @media (max-width: $max-width-tablet-landscape) {
    display: block;
    order: 1;
  }
}
