.post-header {
  padding: 20px;

  .back {
    color: $grey;
    display: block;
    max-width: $max-width-container;
    margin: 0 auto 2em auto;
    font-family: $font-sans-serif;
    font-size: 16px;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: $grey;
      padding-bottom: 4px;
      border-bottom: 1px solid transparent;
      transition: border-bottom 100ms ease-in-out;

      &:hover {
        border-bottom: 1px solid $grey;
      }
    }
  }
}

.post-container {
  max-width: 800px;
  margin: 0 auto;
}
